.modal-alert {
    /*    display: none ;  Ẩn modal mặc định */
    display: inline-block;
    position: fixed; /* Đặt modal cố định trên màn hình */
    z-index: 10; /* Đặt modal lên trên các phần tử khác */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Cho phép cuộn nếu nội dung quá dài */
    background-color: rgba(0,0,0,0.4); /* Nền mờ */
}

.modal-content-alert {
    background-color: #fefefe;
    margin: 20% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: center;
}
.modal-title-alert {
    font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
    font-size: 20px;
    color: #00ff8e;
    font-weight: bold;
    text-align: center;
    margin: 20px;

}
.btn-primary-alert {
    background-color: #4CAF50; /* Màu xanh lá cây */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-secondary-alert {
    background-color: #4CAF50; /* Màu xanh lá cây */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid #4CAF50;
    border-radius: 10px
}
.btn-secondary-alert:hover {
    background-color: #45a049; /* Darker green on hover */
    color: #fff; /* Text color remains white */
    border-color: #3e8e41; /* Darker green border on hover */
}